body {
	font-family: 'Roboto'
}

#content,
#header,
#side-btns,
#container {
	display: grid;
}

#container {
	grid-template-columns: 1fr 4fr;
	grid-template-rows: min(1fr, 150px) 4fr;
}

#header {
	background-color: #FFFFFF;
	grid-column: 2 / 3;
	grid-row: 1 / 2;
	grid-template-columns: 3fr 2fr;
	grid-template-rows: 2fr 2fr;
}

#sidebar {
	background-color: #9333ea;
	grid-column: 1 / 2;
	grid-row: 1 / 3;
}

#content {
	background-color: #cbd5e1;
	grid-column: 2 / 3;
	grid-row: 2 / 3;
	grid-template-columns: 3fr 1fr;
	grid-template-rows: 1fr 1fr;
}

#search-bar {
	grid-column: 1 / 2;
	grid-row: 1 / 2;
	display: grid;
	grid-template-columns: auto 1fr;
	align-items: center;
	gap: 10px;
	margin-left: 50px;
}

#profile {
	grid-column: 2 / 3;
	grid-row: 1 / 2;
	display: grid;
	grid-auto-flow: column;
	justify-content: center;
	align-items: center;
	gap: 24px;
}

#name-sm {
	font-size: 18px;
	font-weight: bold;
}

#banner {
	grid-column: 1 / 2;
	grid-row: 2 / 3;
	display: grid;
	grid-template-columns: 125px auto;
	align-items: center;
	gap: 16px;
}

#intro {
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 8px;
}

#name-lg {
	font-size: 24px;
	font-weight: bold;
	margin-top: 8px;
}

#head-btns {
	grid-column: 2 / 3;
	grid-row: 2 / 3;
}

#side-btns {
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 1fr;
	gap: 64px;
}

#app-btns {
	grid-row: 1 / 2;
}

#settings-btns {
	grid-row: 2 / 3;
}

#projects {
	grid-column: 1 / 2;
	grid-row: 1 / 3;
}

#announcements {
	grid-column: 2 / 3;
	grid-row: 1 / 2;
}

#trending {
	grid-column: 2 / 3;
	grid-row: 2 / 3;
}

#cards {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}

#head-btns {
	display: grid;
	grid-auto-flow: column;
	align-items: center;
	justify-content: center;
	gap: 16px;
}

.head-btn {
	background-color: #9333ea;
	border-radius: 16px;
	padding: 4px 16px;
	border-style: none;
	font-size: 20px;
	color: white;
}

.proj-btns {
	display: grid;
	justify-content: end;
	grid-auto-flow: column;
}

.icon {
	width: 25px;
	height: 25px;
}

.pfp-small {
	max-width: 50px;
	border-radius: 50%;
}

#pfp-lg {
	max-width: 75px;
	border-radius: 50%;
	margin-left: 50px;
}

input {
	appearance: none;
	border: none;
	border-radius: 24px;
	padding: 10px;
	background-color: #cbd5e1;
}
