#content,
#header,
#side-btns,
#container {
	display: grid;
}

#container {
	grid-template-columns: 1fr 4fr;
	grid-template-rows: 1fr 4fr;
}

#header {
	background-color: #6b7280;
	grid-column: 2 / 3;
	grid-row: 1 / 2;
	grid-template-columns: 3fr 2fr;
	grid-template-rows: 2fr 2fr;
}

#sidebar {
	background-color: #9333ea;
	grid-column: 1 / 2;
	grid-row: 1 / 3;
}

#content {
	background-color: #27272a;
	grid-column: 2 / 3;
	grid-row: 2 / 3;
	grid-template-columns: 3fr 1fr;
	grid-template-rows: 1fr 1fr;
}

#search-bar {
	grid-column: 1 / 2;
	grid-row: 1 / 2;
}

#profile {
	grid-column: 2 / 3;
	grid-row: 1 / 2;
}

#banner {
	grid-column: 1 / 2;
	grid-row: 2 / 3;
}

#head-btns {
	grid-column: 2 / 3;
	grid-row: 2 / 3;
}

#side-btns {
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 1fr;
	gap: 64px;
}

#app-btns {
	grid-row: 1 / 2;
}

#settings-btns {
	grid-row: 2 / 3;
}

#projects {
	grid-column: 1 / 2;
	grid-row: 1 / 3;
}

#announcements {
	grid-column: 2 / 3;
	grid-row: 1 / 2;
}

#trending {
	grid-column: 2 / 3;
	grid-row: 2 / 3;
}

#cards {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}

.proj-btns {
	display: grid;
	justify-content: end;
	grid-auto-flow: column;
}






